@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
  background-size:cover;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #000000;
  padding: 5px 10px;
  color: #ffffff;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
body {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin:0;
	padding:0;
}
.album-list {
	margin: auto;
}
.album-list ul {
	text-align: center;
}
.album-list li {	
	display: inline-block;
	margin: 30px;
}

#main.active {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:#111;
	opacity:0.5;
	z-index:9;
	display:none;
}

#lightbox.active{
	position:absolute;	
	display:block;
	width:1200px;
	height:500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

/* 	box-sizing: border-box;*/
	overflow-y:scroll;	
 	padding: 30px; 
	background: #333;
	color: #fff;
	z-index:50;
}

#lightbox {
	display: none;
}

.box-l, .box-r {
	position:absolute;
}
.box-l img{
	width:300px;
	height:300px;
	background-size: cover;
}
.box-r {
	left: 30%;
}

.inner-header {
	margin-top: 10px;
}
.inner-text {
	float: right;
	margin:0 auto;
	padding:40px 0 10px 0;
}

.inner-text img{
	border:solid 1px #CCCCCC;
	max-width: 100%;
}

.inner-text ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
	text-align:center;
}

.inner-text li {
	max-width:90px;
	display:inline-block;
	margin: 10px;
	vertical-align: top;
}

.album-title {
	background-image:url(../images/sns/black.png); 
	color:#fff;
	text-align:center;
	padding-bottom:5px;
}

.album-title h2 {
	display:block;
	padding:2px;
	float:none;
}	

.album-title p{
	display:block;	
	float:none;
}	
.tracklist{
	display:block;
	padding:10px 0;
	line-height:1.1em;
}
.tracklist p{
	font-family: 'Oswald', sans-serif;
	font-size:15px;	
}
.tracklist li{
	font-family:'Nanum Gothic',monospace;
	list-style:none;
	font-size:11px;
}

#btn-global{
	max-width:1000px;
	width:85%;
	margin:0 auto;
}

#btn-global a{
	width:10px;
	float:left;
	display:block;
	padding:5px;
	background-image:url(images/title-discography.png);
	color:#fff;
	text-align:center;
	font-size:0.5em;
	text-decoration:none;
	margin:0 5px 10px 0;
	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}	

#sect-main h3{ 
	padding:20px 0 10px 0;
	margin:0;
	font-size:13px;
	line-height:20px;
}
#sect-main p{ 
	padding:0;
	font-size:12px;
	line-height:17px;
}