@-webkit-keyframes bugfix {
	from {
		padding: 0;
	}
	to {
		padding: 0;
	}
}

.header {
	position: relative;
	z-index: 6;
}

#toggle,
.toggle {
	display: none;
}

.menu > li {
	list-style: none;
	float: left;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}


/*PC*/

.header {
	min-height: 100px;
	height: 50px;
	padding: 0 20px;
	/*background-color: rgba(255, 255, 255, 0.05);*/
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}

.header > h1 {
	display: block;
	float: left;
}

.header > h1 a {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../images/logo-s.png); 
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
	padding: 25px;
	transition: All 0.7s ease;
	-webkit-transition: All 0.7s ease;
	-moz-transition: All 0.7s ease;
	-o-transition: All 0.7s ease;
}

.header > h1 a:hover {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.nav {
	display: block;
	float: right;
}

.nav,
.menu,
.menu > li,
.menu > li > a {
	height: 100%;
}

.menu > li > a {
	margin: 0;
	display: block;
	padding: 42px 18px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #151515;
	font-size: 16px;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/**/
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.menu > li > a:hover,
.menu > li > a:focus {
	color: #151515;
	box-shadow: inset 0px 3px #151515;
	padding: 45px 18px 34px;
}

.toggle {
	z-index: 5;
}


#imgDiv {
width: 200px;
position: absolute;
top:40%; 
left:49%;
transform:translate(-50%,-50%);
}

#imgDiv img { 
width: 100%;
position: absolute;
left: 50%;
top: 50%;
margin-left: -75px;
margin-top: -100px;
}


#imgDiv > #funny {                  
opacity: 0;
transition: opacity 1.5s
}

#imgDiv:hover > #funny {
opacity: 1;
} 


/* tablet */

@media only screen and (max-width: 822px) {
	.header {
		padding: 0;
		min-height: 55px;
	}
	.header > .nav,
	.toggle:after {
		float: right;
		padding: 0;
		margin: 0;
	}
	.toggle:after {
		text-align: center;
		width: 140px;
		margin: 12px 0;
	
	}
	.menu {
		display: none;
		opacity: 0;
		width: 200px;
		position: absolute;
		top: 55px;
		right: 0;
	}
	.menu > li {
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
		background-color: #fff;
		opacity:0.4;
	}
	.menu > li > a {
		display: block;
		width: 100%;
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
		padding: 15px;
	}
	.menu > li > a:hover,
	.menu > li > a:focus {
		background-color: rgba(255, 255, 255, 0.2);
		box-shadow: inset 5px 0px #151515;
		padding: 15px 15px 15px 25px;
		color: #151515;
	}
	.header > h1 a {
		width:80px;
		height: 36px;
		background-image: url(../images/logo-p.png);
		background-position: center;
		padding: 0;
		margin: 10px 0 0 10px;
		background-size: cover;
	}
	.toggle {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
	#toggle:checked ~ .menu {
		display: block;
		opacity: 1;
	}
	.toggle:after {
		font-family: 'Oswald', sans-serif;
		content: 'Main Menu';
		display: block;
		width: 200px;
		margin: -6px 0 0 0;
		padding: 20px 50px;
		background: #fff;
		opacity:0.6;
		text-align: center;
		font-size: 14px;
		color: #151515;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#toggle:checked + .toggle:after {
		content: 'Close Menu';
	}

	#imgDiv {
width: 160px;
position: absolute;
top:43%; 
left:49%;
transform:translate(-50%,-50%);
}
	


}


/* mobile */

@media only screen and (max-width: 479px) {
	.header {
		min-height: 40px;
		height: 40px;
		padding: 0;
	}
	.header > h1 a {
    height: 30px;
    padding: 0;
    background-position: center;
    background-size: cover;
    margin: 6px 0 0 10px;
	}
	.header > h1 {
		text-align: center;
	}
	.header > .nav,
	.toggle:after {
		float: right;
		padding: 0;
		margin: 0;
	}
	.toggle:after {
		text-align: center;
		width: 160px;
		margin: 12px 0;
	}
	.menu {
		display: none;
		opacity: 0;
		width: 150px;
		position: absolute;
		top:40px;
		right: 0;
	}
	 .menu > li {
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
		background-color: rgb(15, 3, 17);
	}
	.menu > li > a {
		padding: 10px 8px;

	
	}
	.menu > li > a:hover,
	.menu > li > a:focus {
		padding: 15px 8px 15px;
	}
	.toggle:after {
		font-family: 'Oswald', sans-serif;
		content: 'Main Menu';
		display: block;
		width: 150px;
		margin: 0;
		padding: 9px 10px;
		background: #fff;
		opacity: 0.6;
		text-align: center;
		font-size: 14px;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}