@-webkit-keyframes bugfix {
	from {
		padding: 0;
	}
	to {
		padding: 0;
	}
}

.header {
	position: relative;
	z-index: 6;
}

#toggle,
.toggle {
	display: none;
}

.menu > li {
	list-style: none;
	float: left;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}


/*PC*/

.header {
	min-height: 100px;
	height: 43px;
	padding: 0 20px;
	
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	-ms-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
}

.header > h1 {
	display: block;
	float: left;
}

.header > h1 a {
	display: block;
	width: 104px;
	height: 52px;
	background-image: url(../images/logo-s.png);
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
	padding: 25px;
	transition: All 0.7s ease;
	-webkit-transition: All 0.7s ease;
	-moz-transition: All 0.7s ease;
	-o-transition: All 0.7s ease;
}

.header > h1 a:hover {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.nav {
	display: block;
	float: right;
	/*margin-right:5%;*/
}

.nav,
.menu,
.menu > li,
.menu > li > a {
	height: 100%;
}

.menu > li > a {
	margin: 0;
	display: block;
	padding: 42px 18px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	color: #b98744;
	font-size: 16px;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/**/
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.menu > li > a:hover,
.menu > li > a:focus {
	box-shadow: inset 0px 3px #cfb36b;
	color: #cfb36b;
	padding: 45px 18px 34px;
}

.toggle {
	z-index: 5;
}


/* tablet */

@media only screen and (max-width: 768px) {
	.header {
		padding: 0;
		min-height: 55px;
	}
	.header > .nav,
	.toggle:after {
		float: right;
		padding: 0;
		margin: 0;
	}
	.toggle:after {
		text-align: center;
		width: 140px;
		margin: 12px 0;
	}
	.menu {
		display: none;
		opacity: 0;
		width: 200px;
		position: absolute;
		top: 55px;
		right: 0;
	}
	.menu > li {
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.menu > li > a {
		display: block;
		width: 100%;
		text-decoration: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: auto;
		padding: 15px;
		color: #b98744;
	}
	.menu > li > a:hover,
	.menu > li > a:focus {
		background-color: rgb(43, 26, 10);
		box-shadow: inset 5px 0px #cfb36b;
		padding: 15px 15px 15px 25px;
		color: #cfb36b;
	}
	.header > h1 a {
		display: block;
		width: 75px;
		height: 25px;
		background-image: url(../images/logo-s.png);
		background-position: center;
		padding: 0;
		margin: 20px 0px 0 20px;
		background-size: cover;
	}
	.toggle {
		display: block;
		position: relative;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
	#toggle:checked ~ .menu {
		display: block;
		opacity: 1;
	}
	.toggle:after {
		font-family: 'Oswald', sans-serif;
		content: 'Main Menu';
		display: block;
		width: 200px;
		margin: -6px 0 0 0;
		padding: 20px 50px;
		background: #b88643;
		/*border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;*/
		text-align: center;
		font-size: 14px;
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	/*.toggle:hover:after {
		background: #404791;
	}*/
	#toggle:checked + .toggle:after {
		content: 'Close Menu';
	}
}


/* mobile */

@media only screen and (max-width: 479px) {
	.header {
		min-height: 40px;
		height: 40px;
		padding: 0;
	}
	.header > h1 a {
		width: 50px;
		height: 38px;
		padding: 0;
		background-position: center;
		background-size: contain;
		margin: 5px 0 0 20px;
	}
	.header > h1 {
		text-align: center;
	}
	.header > .nav,
	.toggle:after {
		float: right;
		padding: 0;
		margin: 0;
	}
	.toggle:after {
		text-align: center;
		width: 160px;
		margin: 12px 0;
	}
	.menu {
		display: none;
		opacity: 0;
		width: 150px;
		position: absolute;
		top: 38px;
		right: 0;
	}
	.menu > li {
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
	}
	.menu > li > a {
		padding: 10px 8px;
	}
	.menu > li > a:hover,
	.menu > li > a:focus {
		padding: 15px 8px 15px;
	}
	.toggle:after {
		font-family: 'Oswald', sans-serif;
		content: 'Main Menu';
		display: block;
		width: 150px;
		margin: 0;
		padding: 10px 10px;
		/*-webkit-border-radius: 5px;
        border-radius: 5px;*/
		text-align: center;
		font-size: 14px;
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu {}
}